<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>Trainer of Gyms Search Results</title>
</head>
<body>

<div id="gym-search-container">
    <h1>나의 운동기구 사용/예약 현황</h1>

    <table>
        <thead>
        <tr>
            <th>상태</th>
            <th>ID</th>
            <th>이름</th>
            <th>타입</th>
            <th>운동 부위</th>
            <th>현재 기구 상태</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf's each directive to iterate over the trainerList -->
        <tr th:each="machine : ${machineList}">
            <!-- Use Thymeleaf's conditional expression to set text based on machine.classify -->
            <td th:text="${machine.getClassify() == 1 ? '사용중인 기구' : (machine.classify == 2 ? '예약중인 기구' : '다른 상태')}"></td>
            <td th:text="${machine.getMachineId()}"></td>
            <td th:text="${machine.getName()}"></td>
            <td th:text="${machine.getType()}"></td>
            <td th:text="${machine.getTargetMuscle()}"></td>
            <td th:text="${machine.getState()}"></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>
