<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Gym Search Results By Number of Machine</title>
</head>
<body>

<div id="container">
  <h1>Gym Search Results By Number Of Machine</h1>
  <table>
    <thead>
    <tr>
      <th>GYM ID</th>
      <th>GYM NAME</th>
      <th>NUMBER OF MACHINE</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf의 each 디렉티브를 사용하여 반복 -->
    <tr th:each="gym : ${gymList}">
      <td th:text="${gym.gymId}"></td>
      <td th:text="${gym.gymName}"></td>
      <td th:text="${gym.numOfMachine}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
