<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Gym Search Results</title>
</head>
<body>

<div id="gym-search-container">
  <h1>Gym Search Results</h1>

  <!-- gymList를 반복하여 각 체육관 정보를 표시 -->
  <table>
    <thead>
    <tr>
      <th>Person Name</th>
      <!-- 다른 열 추가 -->
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf의 each 디렉티브를 사용하여 반복 -->
    <tr th:each="person : ${personList}">
      <td th:text="${person.personName}"></td>
      <!-- 다른 열에 대한 정보 추가 -->
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>
