<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Search Functions</title>
  <style>
    /* Your CSS styles here */
    .search-button {
      display: inline-block;
      padding: 10px 20px; /* Adjust padding as needed */
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 6px;
      text-decoration: none;
      font-size: 18px;
      transition: background-color 0.3s ease;
      margin: 10px;
      cursor: pointer;
    }

    .search-button:hover {
      background-color: #0056b3;
    }
  </style>
</head>
<body>
<div class="button-container">
  <h1>Function List (Gym Id : <span th:text="${gymId}"></span>)</h1>
  <!-- 대여물품 조회 -->
  <a th:href="@{'/user/' + ${userId} + '/gym/' + ${gymId} + '/rental-item'}" class="search-button">대여물품 조회</a>

  <!-- 운동기구 조회 -->
  <a th:href="@{'/user/' + ${userId} + '/gym/' + ${gymId} + '/machine'}" class="search-button">운동기구 조회</a>

  <!-- 트레이너 조회 -->
  <a th:href="@{'/user/' + ${userId} + '/gym/' + ${gymId} + '/trainer'}" class="search-button">트레이너 조회</a>

  <!-- 리뷰 조회 -->
  <a th:href="@{'/user/' + ${userId} + '/gym/' + ${gymId} + '/review'}" class="search-button">리뷰 조회</a>

  <!-- 회원 조회 -->
  <a th:href="@{'/user/' + ${userId} + '/gym/' + ${gymId} + '/people'}" class="search-button">회원 조회</a>
</div>
</body>
</html>
