<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Machine Search</title>
    <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>
<body>
<div class="container">
    <h1>Gym Id : <span th:text="${gymId}"></span></h1>
    <div class="rental-list">
        <table>
            <thead>
            <tr>
                <th>Machine Id</th>
                <th>Machine Name</th>
                <th>Machine Type</th>
                <th>Target Muscle</th>
                <th>Request Buttons</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="machineViewDto : ${machines}">
                <td th:text="${machineViewDto.getMachineDto().getMachineId()}"></td>
                <td th:text="${machineViewDto.getMachineDto().getName()}"></td>
                <td th:text="${machineViewDto.getMachineDto().getType()}"></td>
                <td th:text="${machineViewDto.getMachineDto().getTargetMuscle()}"></td>
                <td>
                    <!-- 예약하기 -->
                    <form th:if="${machineViewDto.isDoing() == false  and machineViewDto.isReserved() == false and machineViewDto.isReserving() == false and canReserve == true}"
                          th:action="@{/user/{userId}/gym/{gymId}/machine/{machineId}/reservation-reserve(userId=${userId}, gymId=${gymId}, machineId=${machineViewDto.machineDto.machineId})}"
                          method="get">
                        <input type="submit" value="Reservation-Register" style="background-color: green"/>
                    </form>

                    <!-- 예약 후 사용 -->
                    <form th:if="${machineViewDto.isUsing() == false and machineViewDto.isDoing() == false and machineViewDto.isReserved() == true and machineViewDto.isReserving() == true and canUse == true and canReserve == false}"
                          th:action="@{/user/{userId}/gym/{gymId}/machine/{machineId}/reservation-use(userId=${userId}, gymId=${gymId}, machineId=${machineViewDto.machineDto.machineId})}"
                          method="get">
                        <input type="submit" value="Reservation-Use" style="background-color: green"/>
                    </form>

                    <!-- 예약 취소 -->
                    <form th:if="${machineViewDto.isDoing() == false and machineViewDto.isReserved() == true and machineViewDto.isReserving() == true and canReserve == false}"
                          th:action="@{/user/{userId}/gym/{gymId}/machine/{machineId}/reservation-cancel(userId=${userId}, gymId=${gymId}, machineId=${machineViewDto.machineDto.machineId})}"
                          method="get">
                        <input type="submit" value="Reservation-Cancel" style="background-color: darkblue;"/>
                    </form>

                    <!-- 사용하기 -->
                    <form th:if="${canUse == true and machineViewDto.isUsing() == false and machineViewDto.isDoing() == false and machineViewDto.isReserving() == false and canUse == true}"
                          th:action="@{/user/{userId}/gym/{gymId}/machine/{machineId}/use(userId=${userId}, gymId=${gymId}, machineId=${machineViewDto.machineDto.machineId})}"
                          method="get">
                        <input type="submit" value="Use-Machine"/>
                    </form>

                    <!-- 사용 완료 -->
                    <form th:if="${canUse == false and machineViewDto.isUsing() == true and machineViewDto.isDoing() == true and machineViewDto.isReserving() == false}"
                          th:action="@{/user/{userId}/gym/{gymId}/machine/{machineId}/done(userId=${userId}, gymId=${gymId}, machineId=${machineViewDto.machineDto.machineId})}"
                          method="get">
                        <input type="submit" value="Done-Machine"/>
                    </form>

                    <!-- 이용 불가 -->
                    <form th:unless="${(machineViewDto.isDoing() == false  and machineViewDto.isReserved() == false and machineViewDto.isReserving() == false and canReserve == true)or(machineViewDto.isUsing() == false and machineViewDto.isDoing() == false and machineViewDto.isReserved() == true and machineViewDto.isReserving() == true and canUse == true and canReserve == false)or(machineViewDto.isDoing() == false and machineViewDto.isReserved() == true and machineViewDto.isReserving() == true and canReserve == false)or(canUse == true and machineViewDto.isUsing() == false and machineViewDto.isDoing() == false and machineViewDto.isReserving() == false and canUse == true)or(canUse == false and machineViewDto.isUsing() == true and machineViewDto.isDoing() == true and machineViewDto.isReserving() == false)}">
                        <input type="submit" value="Unavailable" style="background-color: red" disabled="disabled"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
