<!--thymeleaf-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Machine</title>
    <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>
<body>
<div class="header">
    <h1>Gym Id : <span th:text="${param.gymId}"></span></h1>
    <div class="controls">
        <a class="jh-button" th:href="@{/rental-search(gymId=${param.gymId})}">대여 가능한 물품 조회</a>
        <a class="jh-button" th:href="@{/machine-search(gymId=${param.gymId})}">헬스장 기구 조회</a>

        <form action="/rental-search" method="get">
            <input type="text" name="gymName" placeholder="Gym Name">
            <input type="submit" value="체육관 이름으로 조회">
        </form>
    </div>
</div>
</body>
</html>
