<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Search</title>
    <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>
<body>

<div class="container">
    <h1>People in Gym Id : <span th:text="${gymId}"></span></h1>

    <div class="rental-list">
        <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Sex</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${people}">
            <td th:text="${person.name}"></td>
            <td th:text="${person.birthdate}"></td>
            <td th:text="${person.sex}"></td>
        </tr>

            </tbody>
        </table>
    </div>



</div>
</body>
</html>
