<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Machine</title>
    <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>
<body>
<div class="container">
    <h1>Gym Id : <span th:text="${param.gymId}"></span></h1>
    <div class="rental-list">
        <table>
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Rental Fee</th>
                <th>Max Quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rental : ${rentals}">
                <td th:text="${rental.itemName}"></td>
                <td th:text="${rental.rentalFee}"></td>
                <td th:text="${rental.maxQuantity}"></td>
                <td>
                    <form action="/rental-request" method="get">
                        <input type="hidden" name="itemName" th:value="${rental.itemName}">
                        <input type="hidden" name="gymId" th:value="${param.gymId}">
                        <input type="submit" value="대여 신청">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>