<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Review Search</title>
    <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>

<body>

<div class="container">
    <h1>특정 나이에 해당하는 유저들이 쓴 리뷰 개수 조회</h1>
    <div class="rental-list">
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>생년월일</th>
                <th>성별</th>
                <th>리뷰 개수</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="reviewer : ${reviewers}">
                    <td th:text="${reviewer.name}"></td>
                    <td th:text="${reviewer.birthdate}"></td>
                    <td th:text="${reviewer.sex}"></td>
                    <td th:text="${reviewer.reviewCount}"></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

</body>
</html>
