<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Search</title>
    <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>
<body>



<div class="container">
    <h1>트레이너 조회(ALL GYM) </h1>
    <!-- 트레이너 리스트 동적 생성 -->
    <div class="rental-list">
        <table>
            <thead>
            <tr>
                <th>Trainer Name</th>
                <th>Specialization</th>
                <th>Experience</th>
                <th>Birthdate</th>
                <th>Sex</th>
                <th>Contact</th>
                <th>Gym name</th>
            </tr>
            </thead>
            <tbody>
        <tr th:each="trainer : ${trainers}">
        <td th:text="${trainer.name}">Trainer Name</td>
        <td th:text="${trainer.specialization}">Specialization</td>
        <td th:text="${trainer.workYear} + ' Years'">Experience</td>
        <td th:text="${trainer.birthDate}">Birthdate</td>
        <td th:text="${trainer.sex}">Sex</td>
        <td th:text="${trainer.contact}">Contact</td>
        <td th:text="${trainer.gymName}">Gym name</td>
        </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
