<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"/>
  <title>Machine Search</title>
  <link rel="stylesheet" th:href="@{/jh.css}"/>
</head>

<body>
<div class="container">
  <h1>Gym Id : <span th:text="${gymId}"></span></h1>
  <a href="/trainer-search">
    <button>trainer search</button>
  </a>

  <div class="rental-list">
    <table>
      <thead>
        <tr>
            <th>Trainer Name</th>
            <th>Specialization</th>
            <th>Experience</th>
            <th>PT apply Button</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="trainer : ${trainers}">
            <td th:text="${trainer.name}"></td>
            <td th:text="${trainer.specialization}"></td>
            <td th:text="${trainer.workYear} + ' Years'"></td>
            <td>
                <form th:action="@{/register-trainer}" method="post">
                    <input type="hidden" id="userId" name="userId" th:value="${userId}">
                    <input type="hidden" id="gymId" name="gymId" th:value="${gymId}">
                    <input type="hidden" id="trainerId" name="trainerId" th:value="${trainer.trainerId}">
<!--                    <button type="submit"-->
<!--                            th:classappend="${ptTrainerId == trainer.trainerId} ? 'registered-trainer' : ''"-->
<!--                            th:text="${ptTrainerId == trainer.trainerId} ? 'Registered' : 'Apply for PT'">PT Apply</button>-->
                  <input type="submit"
                         th:style="${ptTrainerId == trainer.trainerId} ? 'background-color: #4CAF50; color: white;' : 'background-color: #008CBA; color: white;'"
                         th:classappend="${ptTrainerId == trainer.trainerId} ? 'registered-trainer' : ''"
                         th:value="${ptTrainerId == trainer.trainerId} ? 'Apply Cancel' : 'Apply for PT'"/>
                </form>

            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


</body>
</html>
