<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Gym Search Results By Review Rate</title>
</head>

<body>

<div id="gym-search-container">
  <h1>Gym Search Results By Review Rate</h1>

  <table>
    <thead>
    <tr>
      <th>REVIEW RATE</th>
      <th style="width: 100px;">GYM NAME</th>
      <th>GYM LOCATION</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf의 each 디렉티브를 사용하여 반복 -->
    <tr th:each="gym : ${gymList}">
      <td th:text="${gym.avgRate}"></td>
      <td th:text="${gym.gymName}"></td>
      <td th:text="${gym.location}"></td>
    </tr>
    </tbody>
  </table>
</div>


</body>

</html>
