<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Search Results By Number of User</title>
    <link rel="stylesheet" th:href="@{../../static/style.css}">
</head>
<body>

<div id="container">
    <h1>Gym Search Results By Number of User</h1>

    <table>
        <thead>
        <tr>
            <th>GYM NAME</th>
            <th>LOCATION</th>
            <th>CONTACT</th>
        </tr>
        </thead>
        <tbody>
        <!-- Thymeleaf의 each 디렉티브를 사용하여 반복 -->
        <tr th:each="gym : ${gymList}">
            <td th:text="${gym.gymName}"></td>
            <td style="width: 200px" th:text="${gym.location}"></td>
            <td th:text="${gym.contact}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
