<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trainer Specialization</title>
    <link rel="stylesheet" th:href="@{/form.css}">
</head>
<body>

<form action="http://localhost:8080/gym/search/trainer/specialization" method="post">
    <h1>Trainer Specialization</h1>
    <label>Specialization1
        <input type="text" name="specialization1">
    </label>
    <label>Specialization2
        <input type="text" name="specialization2">
    </label>
    <input type="submit" value="전송">
</form>

</body>
</html>
