<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../static/style.css">
  <title>Trainer of Gyms Search Results</title>
</head>
<body>

<div id="gym-search-container">
  <h1>Gym Search Results By User's Gender And Age</h1>

  <table>
    <thead>
    <tr>
      <th>NUM OF USER</th>
      <th>GYM NAME</th>
      <th>GYM ID</th>
      <th>GENDER</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf's each directive to iterate over the trainerList -->
    <tr th:each="gym : ${gymList}">
      <td th:text="${gym.userNumber}"></td>
      <td th:text="${gym.gymName}"></td>
      <td th:text="${gym.gymId}"></td>
      <td th:text="${gym.gender}"></td>
    </tr>
    </tbody>
  </table>
</div>


</body>
</html>
