<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/style.css}">
  <title>Trainer of Gyms Search Results</title>
</head>
<body>

<div id="gym-search-container">
  <h1>Gym Search Results By User's Weight</h1>

  <table>
    <thead>
    <tr>
      <th>USER NAME</th>
      <th>GYM NAME</th>
    </tr>
    </thead>
    <tbody>
    <!-- Thymeleaf's each directive to iterate over the trainerList -->
    <tr th:each="user : ${userList}">
      <td th:text="${user.userName}"></td>
      <td th:text="${user.gymName}"></td>
    </tr>
    </tbody>
  </table>
</div>


</body>
</html>
